pandas
numpy
tqdm
beautifulsoup4
scikit-learn
PyKomoran
requests
config
openai
aiohttp
sentence-transformers
tiktoken
konlpy
jinja2
python-dotenv
google-generativeai
schedule
openpyxl
